

.wrapper {
  height: 100vh;
  transition: all 1s ease;
  padding: 30px;
}

.theme--dark {
  background: #999494;
  --primary-color: #000;
  --secondary-color: green;
}

.theme--white {
  background: #ffffff;
  --primary-color: red;
  --secondary-color: blue;
}

h1 {
  color: var(--primary-color);
}
h1:hover {
  color: var(--secondary-color);
}

.block {
  width: 100px;
  height: 100px;
  transition: all 1s ease;
}

.primary-background {
  background-color: var(--primary-color);
}

.secondary-background {
  background-color: var(--secondary-color);
}
